/*  your css code here. If applicable */
#box{
	width:100px;
	height:100px;
	background-color:red;
	animation:pulse 1s ease 0s infinite
}
@keyframes pulse{
	50%{
		width:80px;
		height:80px;
	}
	100%{
		width:100px;
		height:100px;
	}
}